In [1]:
import numpy as np#range of array
ar1=np.arange(13)
ar1
len(ar1)

13

In [2]:
r=ar1.reshape(1,13)#to convert to multidimensional array
r

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12]])

In [3]:
#identity matrix can be created using two functions
#eye() -> used to define both user defined rows and columns
#identity() -> used to define number of rows and columns
#syntax: np.identity(5) -> 5 is 5 rows and 5 columns
         #np.eye(3,4) -> 3 rows and 4 columns
np.eye(3,4)#identity matrix

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.]])

In [7]:
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [16]:
ar1[1:4]#slicing

array([1, 2, 3])

In [25]:
#to perform multidimensional slicing
ar1=np.arange(25).reshape(5,5)#ar2[rows,columns,step]
ar1
#ar2[row_start:row_end,col_start:col_end,step]

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [26]:
ar1[-4:-2,-4:-2]#negative indexing

array([[ 6,  7],
       [11, 12]])

In [27]:
ar1[1:4,1:4]#positive indexing

array([[ 6,  7,  8],
       [11, 12, 13],
       [16, 17, 18]])

In [33]:
ar3#=np.arange(50).reshape(5,10)
ar3

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [34]:
np.sum(ar3)

1225

In [35]:
np.sum(ar3,axis=0)#to add based on columns wise axis=0

array([100, 105, 110, 115, 120, 125, 130, 135, 140, 145])

In [36]:
np.sum(ar3,axis=1)#to add based on row wise axis=1

array([ 45, 145, 245, 345, 445])

In [37]:
#mean ->average
#median ->middle value
#mode -> max no of repeated elements
#variance -> median/total no of elements
#std -> square root of variance
np.mean(ar3)

24.5

In [38]:
np.median(ar3)

24.5

In [40]:
np.var(ar3)

208.25

In [41]:
np.std(ar3)

14.430869689661812

In [43]:
#linspace
#it is used to print the evenly seperated pointed between two range of values
#it is in floating point only
#linspace(start,end,no of parts)
np.linspace(1,10,3)

array([ 1. ,  5.5, 10. ])

In [44]:
np.linspace(12,30,12,retstep=True)

(array([12.        , 13.63636364, 15.27272727, 16.90909091, 18.54545455,
        20.18181818, 21.81818182, 23.45454545, 25.09090909, 26.72727273,
        28.36363636, 30.        ]),
 1.6363636363636365)

In [192]:
#random module
#to generate random number between the range
#np.random.randint(start,end)
#np.random.randint(40)
np.random.randint(29,42,2)

array([33, 36])

In [194]:
#rand() ->
#to get the randomly generated values from o to 1,based on uniform distribution
np.random.rand(5,4)

array([[0.31452269, 0.4707365 , 0.18908082, 0.10435268],
       [0.15870272, 0.22235274, 0.11425339, 0.98376829],
       [0.45365715, 0.35748775, 0.44612494, 0.13270913],
       [0.52818985, 0.38173648, 0.13510179, 0.59767907],
       [0.4830032 , 0.38700899, 0.66566046, 0.46105753]])

In [196]:
ar3.min()

0

In [197]:
ar3.max()

49

In [202]:
#to find the index of minimum value and max value
a=[11,22,33,44,55]
n=np.array(a)
print(n.argmin())
print(n.argmax())

0
4

In [209]:
cot=np.cos(a)/np.sin(a)#to find sin,cos,tan,cot etc
cot

array([-4.42574133e-03,  1.12973210e+02, -1.32779175e-02,  5.64821794e+01,
       -2.21321748e-02])

In [213]:
#task1
np2=np.array([1,2,3,8])
np3=np.array([4,5,6,1])
#(1*4)+(2*5)+(3*6)=4+10+18=32 output
r=np.dot(np2,np3)#or np2*np3
r

40

In [220]:
np2=np.array([1,2,3,8,3,5,9])
np3=np.array([4,5,6])
len1=len(np2)
len2=len(np3)
diff=abs(len1-len2)
for i in range(diff):
    np3=np.append(np3,1)
sum(np2*np3)

57

In [225]:
np1=np.array([1,34,56,np.nan,np.nan])
#to print nan values
print(np1[np.isnan(np1)])
print(np1[~np.isnan(np1)])

[nan nan]
[ 1. 34. 56.]

In [227]:
pip list

Package                       Version
----------------------------- ---------------
aiobotocore                   2.5.0
aiofiles                      22.1.0
aiohttp                       3.8.5
aioitertools                  0.7.1
aiosignal                     1.2.0
aiosqlite                     0.18.0
alabaster                     0.7.12
anaconda-anon-usage           0.4.2
anaconda-catalogs             0.2.0
anaconda-client               1.12.1
anaconda-cloud-auth           0.1.3
anaconda-navigator            2.5.0
anaconda-project              0.11.1
anyio                         3.5.0
appdirs                       1.4.4
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
arrow                         1.2.3
astroid                       2.14.2
astropy                       5.1
asttokens                     2.0.5
async-timeout                 4.0.2
atomicwrites                  1.4.0
attrs                         22.1.0
Automat                       20.2.0
autopep8                      1.6.0
Babel                         2.11.0
backcall                      0.2.0
backports.functools-lru-cache 1.6.4
backports.tempfile            1.0
backports.weakref             1.0.post1
bcrypt                        3.2.0
beautifulsoup4                4.12.2
binaryornot                   0.4.4
black                         0.0
bleach                        4.1.0
bokeh                         3.2.1
boltons                       23.0.0
botocore                      1.29.76
Bottleneck                    1.3.5
brotlipy                      0.7.0
certifi                       2023.7.22
cffi                          1.15.1
chardet                       4.0.0
charset-normalizer            2.0.4
click                         8.0.4
cloudpickle                   2.2.1
clyent                        1.2.2
colorama                      0.4.6
colorcet                      3.0.1
comm                          0.1.2
conda                         23.7.4
conda-build                   3.26.1
conda-content-trust           0.2.0
conda_index                   0.3.0
conda-libmamba-solver         23.7.0
conda-pack                    0.6.0
conda-package-handling        2.2.0
conda_package_streaming       0.9.0
conda-repo-cli                1.0.75
conda-token                   0.4.0
conda-verify                  3.4.2
constantly                    15.1.0
contourpy                     1.0.5
cookiecutter                  1.7.3
cryptography                  41.0.3
cssselect                     1.1.0
cycler                        0.11.0
cytoolz                       0.12.0
daal4py                       2023.1.1
dask                          2023.6.0
datasets                      2.12.0
datashader                    0.15.2
datashape                     0.5.4
debugpy                       1.6.7
decorator                     5.1.1
defusedxml                    0.7.1
diff-match-patch              20200713
dill                          0.3.6
distributed                   2023.6.0
docstring-to-markdown         0.11
docutils                      0.18.1
entrypoints                   0.4
et-xmlfile                    1.1.0
executing                     0.8.3
fastjsonschema                2.16.2
filelock                      3.9.0
flake8                        6.0.0
Flask                         2.2.2
fonttools                     4.25.0
frozenlist                    1.3.3
fsspec                        2023.4.0
future                        0.18.3
gensim                        4.3.0
glob2                         0.7
greenlet                      2.0.1
h5py                          3.9.0
HeapDict                      1.0.1
holoviews                     1.17.1
huggingface-hub               0.15.1
hvplot                        0.8.4
hyperlink                     21.0.0
idna                          3.4
imagecodecs                   2023.1.23
imageio                       2.26.0
imagesize                     1.4.1
imbalanced-learn              0.10.1
importlib-metadata            6.0.0
incremental                   21.3.0
inflection                    0.5.1
iniconfig                     1.1.1
intake                        0.6.8
intervaltree                  3.1.0
ipykernel                     6.25.0
ipython                       8.15.0
ipython-genutils              0.2.0
ipywidgets                    8.0.4
isort                         5.9.3
itemadapter                   0.3.0
itemloaders                   1.0.4
itsdangerous                  2.0.1
jaraco.classes                3.2.1
jedi                          0.18.1
jellyfish                     1.0.1
Jinja2                        3.1.2
jinja2-time                   0.2.0
jmespath                      0.10.0
joblib                        1.2.0
json5                         0.9.6
jsonpatch                     1.32
jsonpointer                   2.1
jsonschema                    4.17.3
jupyter                       1.0.0
jupyter_client                7.4.9
jupyter-console               6.6.3
jupyter_core                  5.3.0
jupyter-events                0.6.3
jupyter-server                1.23.4
jupyter_server_fileid         0.9.0
jupyter_server_ydoc           0.8.0
jupyter-ydoc                  0.2.4
jupyterlab                    3.6.3
jupyterlab-pygments           0.1.2
jupyterlab_server             2.22.0
jupyterlab-widgets            3.0.5
kaleido                       0.2.1
keyring                       23.13.1
kiwisolver                    1.4.4
lazy_loader                   0.2
lazy-object-proxy             1.6.0
libarchive-c                  2.9
libmambapy                    1.5.1
linkify-it-py                 2.0.0
llvmlite                      0.40.0
lmdb                          1.4.1
locket                        1.0.0
lxml                          4.9.3
lz4                           4.3.2
Markdown                      3.4.1
markdown-it-py                2.2.0
MarkupSafe                    2.1.1
matplotlib                    3.7.2
matplotlib-inline             0.1.6
mccabe                        0.7.0
mdit-py-plugins               0.3.0
mdurl                         0.1.0
menuinst                      1.4.19
mistune                       0.8.4
mkl-fft                       1.3.8
mkl-random                    1.2.4
mkl-service                   2.4.0
more-itertools                8.12.0
mpmath                        1.3.0
msgpack                       1.0.3
multidict                     6.0.2
multipledispatch              0.6.0
multiprocess                  0.70.14
munkres                       1.1.4
mypy-extensions               1.0.0
navigator-updater             0.4.0
nbclassic                     0.5.5
nbclient                      0.5.13
nbconvert                     6.5.4
nbformat                      5.9.2
nest-asyncio                  1.5.6
networkx                      3.1
nltk                          3.8.1
notebook                      6.5.4
notebook_shim                 0.2.2
numba                         0.57.1
numexpr                       2.8.4
numpy                         1.24.3
numpydoc                      1.5.0
openpyxl                      3.0.10
packaging                     23.1
pandas                        2.0.3
pandocfilters                 1.5.0
panel                         1.2.3
param                         1.13.0
paramiko                      2.8.1
parsel                        1.6.0
parso                         0.8.3
partd                         1.4.0
pathlib                       1.0.1
pathspec                      0.10.3
patsy                         0.5.3
pep8                          1.7.1
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        9.4.0
pip                           23.2.1
pkce                          1.0.3
pkginfo                       1.9.6
platformdirs                  3.10.0
plotly                        5.9.0
pluggy                        1.0.0
ply                           3.11
poyo                          0.5.0
prometheus-client             0.14.1
prompt-toolkit                3.0.36
Protego                       0.1.16
psutil                        5.9.0
ptyprocess                    0.7.0
pure-eval                     0.2.2
py-cpuinfo                    8.0.0
pyarrow                       11.0.0
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycodestyle                   2.10.0
pycosat                       0.6.4
pycparser                     2.21
pyct                          0.5.0
pycurl                        7.45.2
pydantic                      1.10.8
PyDispatcher                  2.0.5
pydocstyle                    6.3.0
pyerfa                        2.0.0
pyflakes                      3.0.1
Pygments                      2.15.1
PyJWT                         2.4.0
pylint                        2.16.2
pylint-venv                   2.3.0
pyls-spyder                   0.4.0
PyNaCl                        1.5.0
pyodbc                        4.0.34
pyOpenSSL                     23.2.0
pyparsing                     3.0.9
PyQt5                         5.15.7
PyQt5-sip                     12.11.0
PyQtWebEngine                 5.15.4
pyrsistent                    0.18.0
PySocks                       1.7.1
pytest                        7.4.0
python-dateutil               2.8.2
python-dotenv                 0.21.0
python-json-logger            2.0.7
python-lsp-black              1.2.1
python-lsp-jsonrpc            1.0.0
python-lsp-server             1.7.2
python-slugify                5.0.2
python-snappy                 0.6.1
pytoolconfig                  1.2.5
pytz                          2023.3.post1
pyviz-comms                   2.3.0
PyWavelets                    1.4.1
pywin32                       305.1
pywin32-ctypes                0.2.0
pywinpty                      2.0.10
PyYAML                        6.0
pyzmq                         23.2.0
QDarkStyle                    3.0.2
qstylizer                     0.2.2
QtAwesome                     1.2.2
qtconsole                     5.4.2
QtPy                          2.2.0
queuelib                      1.5.0
regex                         2022.7.9
requests                      2.31.0
requests-file                 1.5.1
requests-toolbelt             1.0.0
responses                     0.13.3
rfc3339-validator             0.1.4
rfc3986-validator             0.1.1
rope                          1.7.0
Rtree                         1.0.1
ruamel.yaml                   0.17.21
ruamel-yaml-conda             0.17.21
s3fs                          2023.4.0
safetensors                   0.3.2
scikit-image                  0.20.0
scikit-learn                  1.3.0
scikit-learn-intelex          20230426.121932
scipy                         1.11.1
Scrapy                        2.8.0
seaborn                       0.12.2
Send2Trash                    1.8.0
service-identity              18.1.0
setuptools                    68.0.0
sip                           6.6.2
six                           1.16.0
smart-open                    5.2.1
sniffio                       1.2.0
snowballstemmer               2.2.0
sortedcontainers              2.4.0
soupsieve                     2.4
Sphinx                        5.0.2
sphinxcontrib-applehelp       1.0.2
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        2.0.0
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.5
spyder                        5.4.3
spyder-kernels                2.4.4
SQLAlchemy                    1.4.39
stack-data                    0.2.0
statsmodels                   0.14.0
sympy                         1.11.1
tables                        3.8.0
tabulate                      0.8.10
TBB                           0.2
tblib                         1.7.0
tenacity                      8.2.2
terminado                     0.17.1
text-unidecode                1.3
textdistance                  4.2.1
threadpoolctl                 2.2.0
three-merge                   0.1.1
tifffile                      2023.4.12
tinycss2                      1.2.1
tldextract                    3.2.0
tokenizers                    0.13.2
toml                          0.10.2
tomlkit                       0.11.1
toolz                         0.12.0
tornado                       6.3.2
tqdm                          4.65.0
traitlets                     5.7.1
transformers                  4.32.1
Twisted                       22.10.0
twisted-iocpsupport           1.0.2
typing_extensions             4.7.1
tzdata                        2023.3
uc-micro-py                   1.0.1
ujson                         5.4.0
Unidecode                     1.2.0
urllib3                       1.26.16
w3lib                         1.21.0
watchdog                      2.1.6
wcwidth                       0.2.5
webencodings                  0.5.1
websocket-client              0.58.0
Werkzeug                      2.2.3
whatthepatch                  1.0.2
wheel                         0.38.4
widgetsnbextension            4.0.5
win-inet-pton                 1.1.0
wrapt                         1.14.1
xarray                        2023.6.0
xlwings                       0.29.1
xxhash                        2.0.2
xyzservices                   2022.9.0
y-py                          0.5.9
yapf                          0.31.0
yarl                          1.8.1
ypy-websocket                 0.8.2
zict                          2.2.0
zipp                          3.11.0
zope.interface                5.4.0
zstandard                     0.19.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#PANDAS
#pandas is defined as an open-source library that provides high performance data manipulation in python
#data analysis requires lot of processing such as restructing ,cleaning,merging,manipulating,etc--
#we prefer pandas to perform above functionalities coz it is fast ,simple than other tools.
#Pandas is built on numpy,numpy is required for operating pandas.


#PANDAS SERIES
#pandas series is a data structure with one dimensional labelled array
#It is a primary building block of DataFrame,making its rows and columns

#syntax--> pandas.series(data=None,dtype=None,name=None,copy=True or False)

In [232]:
import pandas as pd
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':100,'b':200,'c':300}
print(pd.Series(my_data))
print(type(pd.Series(my_data)))

0    10
1    20
2    30
dtype: int64
<class 'pandas.core.series.Series'>

In [233]:
pd.Series(data=my_data,index=labels)#or pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [235]:
pd.Series(data=[print(),sum,len])

0                       None
1    <built-in function sum>
2    <built-in function len>
dtype: object

In [239]:
class profile:
    def display(self):
        print("hello world")
p=profile()
p.display()
def decor(func):
    def inner():
        str1=func()
        return str1.upper()
    return inner
@decor
def greet():
    return "good morning"
print(greet())

hello world
GOOD MORNING

In [244]:
series=pd.Series([1,2,3,4,5],['USA','CANADA','INDIA','UK','EGYPT'])
print(series)
print(series[::-1])

USA       1
CANADA    2
INDIA     3
UK        4
EGYPT     5
dtype: int64
EGYPT     5
UK        4
INDIA     3
CANADA    2
USA       1
dtype: int64

In [247]:
print(series['INDIA'])# value using key
print(series[1])# value using indexing
print(series[0:3])#slicing

3
2
USA       1
CANADA    2
INDIA     3
dtype: int64

In [255]:
#to create a new data in series
series['china']=9
series

USA       1
CANADA    2
INDIA     3
UK        4
EGYPT     5
china     9
dtype: int64

In [256]:
#Data Frame
#p.DataFrame(datas,row_label,col_label)
df=pd.DataFrame(np.random.randn(5,4))
df

          0         1         2         3
0  1.425431  0.062852  0.349976 -0.194785
1 -0.513502  1.219584  0.722770 -0.738441
2 -0.243897  0.094204 -0.552899 -1.140478
3 -0.301490 -0.322363  0.348794  1.421984
4 -0.426665  1.321059  0.004493 -1.662584

In [262]:
df=pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [259]:
#to convert dictionary to data frame
d={"col1":[1,2],"col2":[3,4],"col3":[5,6]}
d1=pd.DataFrame(data=d)
d1

   col1  col2  col3
0     1     3     5
1     2     4     6

In [260]:
df=pd.DataFrame(d,["row1","row2"])
df

      col1  col2  col3
row1     1     3     5
row2     2     4     6

In [265]:
print(df.index)#get all the row names
print(df.columns)#get all the column names

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')
Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [263]:
df

          W         X         Y         Z
A  0.201426 -2.036125  0.818853 -1.164185
B -0.609353 -0.427630 -0.060054  1.841181
C -0.515537  0.156210  0.388101 -1.404430
D  1.690428  0.685394  0.006702 -0.421292
E  1.894825 -0.569500  2.345447 -1.338564

In [264]:
df.T#transpose

          A         B         C         D         E
W  0.201426 -0.609353 -0.515537  1.690428  1.894825
X -2.036125 -0.427630  0.156210  0.685394 -0.569500
Y  0.818853 -0.060054  0.388101  0.006702  2.345447
Z -1.164185  1.841181 -1.404430 -0.421292 -1.338564

In [266]:
df.dtypes#data type of each column

W    float64
X    float64
Y    float64
Z    float64
dtype: object

In [267]:
df.info()#to get information about data frame

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      float64
 1   X       5 non-null      float64
 2   Y       5 non-null      float64
 3   Z       5 non-null      float64
dtypes: float64(4)
memory usage: 372.0+ bytes

In [268]:
df.axes

[Index(['A', 'B', 'C', 'D', 'E'], dtype='object'),
 Index(['W', 'X', 'Y', 'Z'], dtype='object')]

In [269]:
df.values

array([[ 0.2014257 , -2.03612527,  0.81885318, -1.16418473],
       [-0.60935309, -0.42762998, -0.06005427,  1.84118092],
       [-0.51553674,  0.15620969,  0.38810076, -1.40442983],
       [ 1.69042769,  0.68539447,  0.00670153, -0.42129206],
       [ 1.89482496, -0.56949961,  2.34544652, -1.3385638 ]])

In [270]:
df.ndim#dimension

2

In [271]:
df.size

20

In [272]:
#to access specific column of dataframe
df['W']

A    0.201426
B   -0.609353
C   -0.515537
D    1.690428
E    1.894825
Name: W, dtype: float64

In [273]:
type(df['W'])

pandas.core.series.Series

In [274]:
#to access multiple columns
df[['W','X','Y']]

          W         X         Y
A  0.201426 -2.036125  0.818853
B -0.609353 -0.427630 -0.060054
C -0.515537  0.156210  0.388101
D  1.690428  0.685394  0.006702
E  1.894825 -0.569500  2.345447

In [288]:
#to create a new column
df['new']=df['W']+df['Y']
df

          W         X         Y         Z       new
A  0.201426 -2.036125  0.818853 -1.164185  1.020279
B -0.609353 -0.427630 -0.060054  1.841181 -0.669407
C -0.515537  0.156210  0.388101 -1.404430 -0.127436
D  1.690428  0.685394  0.006702 -0.421292  1.697129
E  1.894825 -0.569500  2.345447 -1.338564  4.240271

In [291]:
df.drop('new',axis=1,inplace=True)

In [292]:
df

          W         X         Y         Z
A  0.201426 -2.036125  0.818853 -1.164185
B -0.609353 -0.427630 -0.060054  1.841181
C -0.515537  0.156210  0.388101 -1.404430
D  1.690428  0.685394  0.006702 -0.421292
E  1.894825 -0.569500  2.345447 -1.338564